.layout {
  display: flex;
  justify-content: center;
  @media screen and (max-width: $phone-width) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.draggable {
  background-color: var(--border-color-body);
  width: 3px;
  height: calc(100vh - 50px);
  cursor: ew-resize;
  transition: transform linear 0.1s;
  position: relative;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scaleX(4);
    }
  }
  @media screen and (max-width: $phone-width) {
    display: none;
  }
}
