.containerConsole {
  width: calc(50% - 1.5px);
  outline: solid 1px var(--border-color-body);
  height: calc(100vh - 50px);
  background-color: var(--background-color-body);
  h2 {
    background-color: var(--background-color-body-2);
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: $phone-width){
    width: 100% !important;
  }
}