.containerConsole {
  width: calc(50% - 1.5px);
  outline: solid 1px var(--border-color-body);
  height: calc(100vh - 50px);
  background-color: var(--background-color-body);
  overflow: hidden;
  h2 {
    background-color: var(--background-color-body-2);
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
  }
  textarea {
    padding: 0 10px 0 10px;
    width: 100%;
    height: calc(100% - 50px);
    font-size: 1.2rem;
    color: var(--svg-color);
    background-color: transparent;

    overflow-y: scroll;
    outline: none;
    border: none;
    line-height: 30px;
    resize: none;
    &:focus {
      outline: none;
    }
  }
  @media screen and (max-width: $phone-width) {
    width: 100% !important;
  }
}
