.containerConsole__documentationContainer {
  width: 100%;
  height: calc(100% - 50px);
  font-size: 1.2rem;
  color: var(--svg-color);
  background-color: transparent;
  overflow-y: scroll;
  &__section,
  &__section__2 {
    position: relative;
    h3 {
      color: var(--text-color-body-2);
      font-size: 1.2rem;
      background-color: var(--background-color-body-2);

      position: -webkit-sticky;
      padding: 0 10px;
      position: sticky;
      height: 55px;
      display: flex;
      align-items: center;
    }
  }
  &__section {
    h3 {
      top: -1px;
      z-index: 2;
    }
  }
  &__section__2 {
    margin: 0px -20px;
    h3 {
      top: 53px;
      z-index: 1;
      padding-left: 40px;
      span {
        display: list-item;
        list-style-type: square;
      }
    }
  }
  &__info {
    padding: 20px 20px 30px 20px;
    div {
      line-height: 30px;
    }
  }
  ul {
    margin: 5px 0 0 0;
    padding: 0 0 0 30px;
  }
  &__codeSimulator {
    width: 400px;
    margin: 30px 0 0 0;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    &__header {
      background-color: var(--border-color-body);
      color: var(--svg-color);
      padding: 7.5px 10px;
      text-align: center;
    }
    &__chunk {
      font-family: "Inconsolata", monospace;
      background-color: var(--background-color-body-2);
      color: var(--svg-color);
      padding: 25px 15px;
    }
    @media screen and (max-width: 420px) {
      width: 90%;
      margin: 30px 0 0 calc(5%);
    }
  }
}
