.containerConsole__documentationContainer {
  width: 100%;
  height: calc(100% - 50px);
  font-size: 1.2rem;
  color: var(--svg-color);
  background-color: transparent;
  overflow-y: scroll;
  &__section {
    position: relative;
  }
  &__info {
    padding: 20px 20px 30px 20px;
    div {
      line-height: 30px;
    }
  }
  h3 {
    color: var(--text-color-body-2);
    font-size: 1.2rem;
    background-color: var(--background-color-body-2);

    position: -webkit-sticky;
    padding: 15px 10px;
    position: sticky;
    z-index: 1;
    top: -1px;
  }
  ul {
    margin: 5px 0 0 0;
    padding: 0 0 0 30px;
  }
  &__codeSimulator {
    width: 400px;
    margin: 30px 0 0 0;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    &__header {
      background-color: var(--border-color-body);
      color: var(--svg-color);
      padding: 7.5px 10px;
      text-align: center;
    }
    &__chunk {
      font-family: "Inconsolata", monospace;
      background-color: var(--background-color-body-2);
      color: var(--svg-color);
      padding: 25px 15px;
    }
    @media screen and (max-width: 420px) {
      width: 90%;
      margin: 30px 0 0 calc(5%);
    }
  }
}
